<ion-view view-title="COMPOSE">
  <ion-content>
    <ion-list>
      
    </ion-list>
  </ion-content>
</ion-view>

<!-- <ion-view view-title="COMPOSE">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-clear button-dark" ng-click="reset()">
            <i class="icon ion-compose" href="#/tab/sos/compose"></i>
        </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>
    <div class="button-bar">
      <a class="button">My Network</a>
      <a class="button">Global</a>
    </div>

   
  </ion-content>
</ion-view>
 -->