<!--<ion-nav-view>-->
  <!--<ion-view>-->
    <!--<ion-content>-->
      <!--<h2>USER-PROFILE</h2>-->
    <!--</ion-content>-->
  <!--</ion-view>-->
<!--</ion-nav-view>-->



<!--<ion-content>-->
<!--<main>-->
  <!--<div class="profile-overview nav-down">-->
    <!--&lt;!&ndash; User Name &ndash;&gt;-->
    <!--<h4>{{user.name}}</h4>-->

    <!--&lt;!&ndash; Profile avatar &ndash;&gt;-->
    <!--<div>-->
      <!--<img class="avatar" ng-src="{{user.face}}">-->
    <!--</div>-->
    <!--<span>-->
      <!--&lt;!&ndash; Views &ndash;&gt;-->
      <!--<i class="icon ion-eye profile-info">{{user.views}}</i>-->

      <!--&lt;!&ndash; Favorites &ndash;&gt;-->
      <!--<i class="icon ion-heart profile-info">{{user.favorites}}</i>-->

    <!--</span>-->
  <!--</div>-->

  <!--<div class="profile-nav">-->

    <!--<ul>-->
      <!--&lt;!&ndash; Entries &ndash;&gt;-->
      <!--<li>-->
        <!--<a title="entries" href="#/u/entries">-->
          <!--<i class="icon ion-clipboard"></i>-->
        <!--</a>-->
      <!--</li>-->

      <!--&lt;!&ndash; Images &ndash;&gt;-->
      <!--<li>-->
        <!--<a title="images" href="#/u/images">-->
          <!--<i class="icon ion-images"></i>-->
        <!--</a>-->
      <!--</li>-->

      <!--&lt;!&ndash; Map &ndash;&gt;-->
      <!--<li>-->
        <!--<a title="map" href="#/u/map">-->
          <!--<i class="icon ion-map"></i>-->
        <!--</a>-->
      <!--</li>-->

      <!--&lt;!&ndash; Badges &ndash;&gt;-->
      <!--<li>-->
        <!--<a title="badges" href="#/u/badges">-->
          <!--<i class="icon ion-ribbon-b"></i>-->
        <!--</a>-->
      <!--</li>-->

    <!--</ul>-->

  <!--</div>-->

  <!--&lt;!&ndash; Entries &ndash;&gt;-->

  <!--&lt;!&ndash; Needs an embedded view &ndash;&gt;-->
  <!--&lt;!&ndash; style for this should take up remainder of the page view &ndash;&gt;-->
  <!--<div class="content">-->
    <!--<div ng-repeat="entry in entries">-->
      <!--<div>-->
        <!--&lt;!&ndash; The completed class makes this link navagable &ndash;&gt;-->
        <!--<a ></a>-->
        <!--&lt;!&ndash; The completed class makes it green&ndash;&gt;-->
        <!--&lt;!&ndash; This is the checkmark to mark completed &ndash;&gt;-->
        <!--<i class="status" ng-class="completed: entry.completed"></i>-->
        <!--<h1>{{entry.title}}</h1>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Images &ndash;&gt;-->
  <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-repeat="image in images">&ndash;&gt;-->
      <!--&lt;!&ndash;<a><img src="{{image.url}}" /></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash; Map &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-repeat="image in images">&ndash;&gt;-->
      <!--&lt;!&ndash;<a><img src="{{image.url}}" /></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--&lt;!&ndash;&lt;!&ndash; Badges &ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="content">&ndash;&gt;-->
    <!--&lt;!&ndash;<div ng-repeat="badge in badges">&ndash;&gt;-->
      <!--&lt;!&ndash;<a><img src="{{image.url}}" /></a>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->


  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->
  <!--<h1>nathan</h1>-->




<!--</main>-->
<!--</ion-content>-->
<!--&lt;!&ndash;<footer>&ndash;&gt;-->
  <!--&lt;!&ndash;This is your footer.&ndash;&gt;-->
<!--&lt;!&ndash;</footer>&ndash;&gt;-->
