<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!--<ion-tabs class="tabs-icon-top tabs-color-active-positive">-->

  <!--&lt;!&ndash; Donezfeed Tab &ndash;&gt;-->
  <!--<ion-tab title="Donezfeed" icon-off="ion-android-globe" icon-on="ion-android-globe" href="#/tab/donezfeed">-->
    <!--<ion-nav-view name="tab-donezfeed"></ion-nav-view>-->
  <!--</ion-tab>-->

  <!--&lt;!&ndash; Donezies Tab &ndash;&gt;-->
  <!--<ion-tab title="Donezies" icon-off="ion-ios-trash-outline" icon-on="ion-ios-trash" href="#/tab/donezies">-->
    <!--<ion-nav-view name="tab-donezies"></ion-nav-view>-->
  <!--</ion-tab>-->

   <!--&lt;!&ndash; SOS Tab &ndash;&gt;-->
  <!--<ion-tab title="SOS" icon-off="ion-help-buoy" icon-on="ion-help-buoy" href="#/tab/sos">-->
    <!--<ion-nav-view name="tab-sos"></ion-nav-view>-->
  <!--</ion-tab>-->

<!--</ion-tabs>-->
